*{
    background-image: url("https://media.tenor.com/KavktwzqBOAAAAAe/lebron-james-lebron.png");
}

body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    font-family: Arial, sans-serif; 
}

.container {
    text-align: center; 
}

h1 {
    font-size: 36px; 
}

p {
    font-size: 24px;    
}

