*{
    background-image: url("https://media.tenor.com/KavktwzqBOAAAAAe/lebron-james-lebron.png");
        
  height: 100%;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}